<div id="nav-bar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Simple Calculator</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="https://kucoinshares.com/img/kcs.png" width="25px" height="25px">
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<div id="body" style="margin-top: 10%; margin-left: 20%; margin-right: 20%">
  <mat-grid-list cols="3" rowHeight="100px">
    <form [formGroup]="calculatorForm">
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field appearance="outline">
        <mat-label>KCS Stacked</mat-label>
        <input matInput placeholder="KCS Stacked" formControlName="kcsStacked">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field appearance="outline">
        <mat-label>KCS you own</mat-label>
        <input matInput placeholder="(KCS)" formControlName="kcsYouOwn" >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3" >
      <div style="min-width: 100%">
        <mat-grid-list cols="1" rowHeight="90px">
          <mat-grid-tile colspan="1">
            <h5>Expected Rewards</h5>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">{{dailyResult}} Per Day</mat-grid-tile>
          <mat-grid-tile colspan="1">{{dailyResult * 30}} Per Month</mat-grid-tile>
          <mat-grid-tile colspan="1">{{dailyResult * 365}} Per Year</mat-grid-tile>
<!--          <mat-grid-tile colspan="1">3</mat-grid-tile>-->
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field appearance="outline">
      <mat-label>Daily Trading Volume</mat-label>
      <input matInput placeholder="Volume" formControlName="dailyTradingVolume">
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field appearance="outline">
        <mat-label>Average Trading Fee</mat-label>
        <input matInput placeholder="%" formControlName="averageTradingFee">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <mat-form-field appearance="outline">
        <mat-label>Trading Fees Collected</mat-label>
        <input matInput placeholder="$" formControlName="tradingFeesCollected">
      </mat-form-field>
    </mat-grid-tile>
    </form>
  </mat-grid-list>
</div>
